apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "searxng.fullname" . }}
  labels:
    {{- include "searxng.labels" . | nindent 4 }}
data:
  settings.yml: |
    {{- $config := include "searxng.mergedConfig" . | fromYaml }}
    {{- $config | toYaml | nindent 4 }}

